{% extends "main.html" %}

{% block title %} О нас {% endblock %}
{% block about %}
	О КОМПАНИИ

	Группа компаний «Детский мир» является крупнейшим розничным оператором торговли  детскими товарами в России и Казахстане. История компании началась в 1957 году с открытия «Центрального Детского мира на Лубянке». Сегодня Группа компаний объединяет сеть магазинов «Детский мир» и розничную сеть ELC (Early Learning Centre - Центр раннего развития).

	Сеть магазинов «Детский мир» занимает лидирующие позиции в России на рынке детских товаров. На 30 июня 2015 года в состав Группы компаний входят 309 магазинов «Детский мир» в 128 городах России и Казахстана, 44 магазина ELC.  Торговая площадь магазинов сети «Детский мир» составляет 422 тыс. кв. м., ELC – 6 тыс. кв. м.

	В 2011 году Компания «Детский мир» запустила фирменный интернет-магазин  (www.detmir.ru) – товары от самого известного детского бренда теперь можно заказать с доставкой на дом или в офис.

	Современный гипермаркет «Детский мир» включает около 20-30 тыс. наименований товаров детского ассортимента: игрушки, одежда и обувь, товары для новорожденных, канцелярские товары, наборы для творчества, товары для активного отдыха, автокресла, мебель.

	Сеть магазинов работает в среднем ценовом сегменте. Целевой аудиторией компании являются семьи со средними доходами, к которым относится большинство посетителей торговых центров.

	Бренд «Детский мир», которому в 2014 году исполнилось 57 лет, является наиболее узнаваемым среди торговых сетей детских товаров.

	В 2014 году магазины сети «Детский мир» посетили свыше 100 млн. посетителей, их число продолжает постоянно расти.
{% endblock %}